<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vothuong.anh_pham_final_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Photo_List_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.Photo_Slide_Activity"
            android:launchMode="singleTop" />
        <activity android:name=".Dialog.Photo1_dialog" />
        <activity android:name=".Activity.Photo_Dialog_Activity" />
        <activity android:name=".Dialog.Photo2_dialog" />
        <activity android:name=".Dialog.Photo3_dialog" />
        <activity android:name=".Dialog.Photo4_dialog" />
        <activity android:name=".Dialog.Photo5_dialog" />
        <activity android:name=".Dialog.Photo6_dialog" />
        <activity android:name=".Dialog.Photo7_dialog" />
        <activity android:name=".Dialog.Photo8_dialog" />
        <activity android:name=".Dialog.Photo9_dialog" />
        <activity android:name=".Dialog.Photo10_dialog"></activity>
    </application>

</manifest>